#MainWindow
{
	background-image:url("resources/background.png");
}
QPushButton
{
	font-family:Microsoft YaHei;
	font-size:36px;
    font-weight:bold;
	color: rgb(065,076,135);
	background-color:rgb(236,237,235);
	border-radius:8px;
	border:2px solid rgb(175,090,118);
}
QPushButton:hover
{
    background-color:rgb(255,255,255);
}
QPushButton:pressed
{
    background-color:rgb(14 , 135 , 228);
    padding-left:3px;
    padding-top:3px;
}
